
.header {
 padding: 60px;
  text-align: center;
    color: white;
  font-size: 30px;
    font-family: Arial;
  margin: 0;
    
 background:pink;
     
      background-image: url(../images/Lol.jpg);
    padding: 200px;
background-size: cover;

  
}

.class{
    text-align:center;
    padding: 10px;
   font-family:"Lucida Console", "Courier New", monospace; 
    font-size: 15px;
}
.center{
     text-align:center;
    padding:10px;
   
    font-size:25px;
    
    
}
.xx{
    
    width:1000px;
  height:700px;
}
.uu
{
    
    width:100px;
  height:70px;
}